@font-face {
    font-family: 'Geometria-Bold';
    src: url('../fonts/Geometria-Bold.eot');
    src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Bold.woff2') format('woff2'),
        url('../fonts/Geometria-Bold.woff') format('woff'),
        url('../fonts/Geometria-Bold.ttf') format('truetype'),
        url('../fonts/Geometria-Bold.svg#Arial-BoldMT') format('svg');
}
@font-face {
font-family: 'Geometria-Medium';
    src: url('../fonts/Geometria-Medium.eot');
    src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Medium.woff2') format('woff2'),
        url('../fonts/Geometria-Medium.woff') format('woff'),
        url('../fonts/Geometria-Medium.ttf') format('truetype'),
        url('../fonts/Geometria-Medium.svg#Arial-BoldMT') format('svg');
}
@font-face {
font-family: 'IBMPlexSans-Medium';
    src: url('../fonts/IBMPlexSans-Medium.eot');
    src: url('../fonts/IBMPlexSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IBMPlexSans-Medium.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-Medium.woff') format('woff'),
        url('../fonts/IBMPlexSans-Medium.ttf') format('truetype'),
        url('../fonts/IBMPlexSans-Medium.svg#Arial-BoldMT') format('svg');
}
@font-face {
font-family: 'IBMPlexSans-Bold';
    src: url('../fonts/IBMPlexSans-Bold.eot');
    src: url('../fonts/IBMPlexSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IBMPlexSans-Bold.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-Bold.woff') format('woff'),
        url('../fonts/IBMPlexSans-Bold.ttf') format('truetype'),
        url('../fonts/IBMPlexSans-Bold.svg#Arial-BoldMT') format('svg');
}
